.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.About,
.Projects,
.Contact {
  margin: 20px 0;
}

#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
  padding: 20px;
  text-align: center;
  z-index: 2; /* Higher z-index to overlay the JobsComponent */
}


h1,
h2 {
  color: #61dafb;
}

p {
  color: black;
}